@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Anton&family=Architects+Daughter&family=Dancing+Script&family=Supermercado+One&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: "advent pro",sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 34%, rgba(9,9,121,1) 100%);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    font-family: "advent pro",sans-serif;
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    overflow: hidden;
    background-color:#FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
} 
    li a {
    text-decoration: none;
    color: black;
    }
      
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    overflow: hidden;
    }
.sous-menu {
    padding-right: 30px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    display: grid;
    }
          
.sous-menu > li > a {
    height: 80px;
    padding-left: 20px;
    width: 100%;
    align-items: center;                        
}
nav > ul > li:hover > a{
    color: #2169EC;
}
.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}
      
.sous-menu > li:hover > a {
    color: white;
}
    @keyframes rotationFleche {
        0% {
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(90deg);
        }
    }
    .menu-deroulant:hover > a:after{
        animation: rotationFleche 0.2s linear forwards;
    } 
    @keyframes apparitionSousMenu {
        0% {
          box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
          border-top: 3px solid #2169EC;
        }
        30% {
          box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
        }
        100% {
          max-height: 200em;
          border-top: 3px solid #2169EC;
          box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
        }
    }
    .menu-deroulant:hover > .sous-menu {
        animation: apparitionSousMenu 1s forwards;
    } 
    header li {
        float: right;
        font-size: 1.2em;
    }
    header li a {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 18px 16px;
}
#logo {
    padding-left: -3px;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: bold;
    float: left;
}
#li a {
    font-family: 'supermercado one', sans-serif;
    font-weight: bold;    
} 
/* ************************bootstrap************************** */

header {
    background: url(./media/notaix3.jpg);
    background-size:cover;
    height: 100vh;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
}
h1 {
    font-size:  5em;
    padding: 270px 0 0 5%;
    color: black;
    text-shadow: -1px 3px 2px ;
    animation: titre ease  3.5s;
}
@keyframes titre {
    0% {
        opacity: 0;
        transform: translateY(180px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.sponsors {
    text-align: right;
    padding-right: 10%;
}

/* ******************************video************************ */

video {
    /* position: relative;
    width: 500px;
    overflow: hidden;
    max-width: 100%;
    display: block;
    float: left;
    display: table; */
    position: relative;
    top: 0;
    left: 25%;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    border-radius: 25% 10%;

}
.box{ 
    text-align: center; 
}

/* ***************************left part********************* */

#leftpart {
    background-color: #bcf5a9;
    border-radius: 20px;
    padding: 25px;
}
.elements {
    padding: 70px 0;
}
.elements img{
 border-radius: 50%;
 width: 200px;
 height: 200px;   
}
.elements p{
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 20px;
}
.elements .button {
    text-align: right;
    margin: 15px 4% 0 0;
}
/* **************************right part****************************** */
#rightpart {
    background-color: #369CE7;
    border-radius: 20px;
    padding: 20px;
    
}
.tips {
    max-width: 100%;
    height: 200px;
    width: 260px;
    margin: 20px auto;
}
.tips h4{
    text-align: center;
    position: relative;
    color: rgb(193, 196, 59);
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 5px 9px 7px #000000;
}
.tips:hover {
    transform: scale(1.08);
    opacity: 0.7;
    transition: ease-out 0.2s;
}
/* * **************************media queries****************** */ 

@media screen and (max-width: 1140px) {
    h1 {
        font-size: 2em !important;
        padding: 230px 0 0 5%;
    }
}

@media screen and (max-width: 992px) {
    #rightpart {
        display: flex;
    }
    #rightpart h2{
        display: none;
    }
    .tips {
        height: 130px;
        width: 130px;
    }
    h1 {
        font-size: 2em !important;
        padding: 240px 0 0 5%;
    }
} 

@media screen and (max-width: 790px) {
    h1 {
        font-size: 3em;
    }
    .elements {
        padding: 30px 0;
    }
    .elements img  {
        max-width: 140px;
        margin-top: 40px;
    }
    .tips {
        height: 90px;
        width: 90px;
    }
    .tips h4  {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 580px) {
    .elements {
        padding: 15px 0;
        text-align: center;
    }
    .elements img {
        margin-bottom: 10px;
    }
}
/* *******************************footer**************************** */
footer {
    background-color: #524a3a;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'advent pro', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover {
    background-color: blue;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemetrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrighteticons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
    font-family: 'advent pro', sans-serif;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display:  inline-block;
    margin: 0 15px;
    font-size: 1.3;
    color: #FFFAE1;
}
#icons a:hover {
    transition: scale(1.5);
    transition: 0.1s;
    }